/* custom CSS */

a {
	font-family: arial, sans-serif;
	color: #404040;
	font-size: 15px;
	text-decoration: none;
}

li {
    list-style-type: none;
    display: inline-block;
    margin: 10px 5px;
    vertical-align: middle;
}

footer{
	position: absolute;
	bottom: 0;
	height: 40px;
	background-color: #f2f2f2;
	border-top: 1px solid #e4e4e4;
	line-height: 40px;
	min-width: 100%;
	color: #777;
}

.navbar{
	float: right;
}

form{
  	overflow: hidden;
  	width: 541px;
  	height: 27px;
  	display: block;
}

input{
	width: 524px;
	height: 20px;
}

input .btn{

}

.logo{
	margin-left: auto;
    margin-right: auto;
	display: block;
	padding-top: 150px;
	height: 105px;
	width: 290px;
}

#footer-left {
	position: absolute;
	left: 33px;
	bottom: -10px;
}

#footer-right {
	position: absolute;
	right: 33px;
	bottom: -10px;
}
